<h1>현재 접속 상태</h1>
<br>
	시작점 : <%= @selectedroute.startpoint %> <br>
	도착점 : <%= @selectedroute.endpoint %> <br>
	출발시간 : <%= @selectedroute.enrolltime.to_s[0,16] %> <br>
	등록 유저 수 : <%= @selectedroute.users.count %> <br>
	성별 옵션 : <%= @selectedroute.genderonly %>

<br>
<h1>현재 접속자 명단..</h1>
<% @selectedroute.users.each do |user| %>
	<%= user.email %> <br>
<% end %>

<p><%#= link_to "리스트 다시보기", course_memberlist_path(startpoint: @selectedroute.startpoint, endpoint: @selectedroute.endpoint, enrolltime: Time.new(@selectedroute.enrolltime) ) %> </p>
<br>
<p><%= link_to "코스 다시 선택하러 가기" , course_courselist_path,class: "btn btn-default" %> </p>
<p><%= link_to "시간 다시 선택하러 가기" , course_timelist_path(startingpoint: @selectedroute.startpoint, endingpoint: @selectedroute.endpoint),class: "btn btn-default" %> </p>
<h1>카카오톡 링크</h1>
