
<h1> 이미 존재하는 동일코스 리스트</h1>

<% @rangecourse.each do |course| %>
	방 ID: <%= course.id %>
	시작점: <%= course.startpoint %> /
	도착점: <%= course.endpoint %> /
	출발시간: <%= course.enrolltime.to_s[0,16] %>
	<%= link_to "접속하기", "/course/joincourse/#{course.id}",class: "btn btn-default" %>
	<br>
<% end %>

<p><%= link_to "코스 다시 선택하러 가기" , course_courselist_path,class: "btn btn-default" %> </p>
<p> <%= link_to "시간 다시 선택하러 가기" , course_timelist_path(startingpoint: params[:startingpoint], endingpoint: params[:endingpoint]),class: "btn btn-default" %> </p>


<br>
<h1>선택한 코스</h1>
현재 접속된 방 ID : <%=current_user.taxicourse_id ? current_user.taxicourse_id : "접속된 방 없음" %>
<br>
<p> 시작점:  <%= params[:startingpoint] %> </p>
<p> 도착점:  <%= params[:endingpoint] %> </p>

<h1>선택한 시간대</h1>
<%=	Time.new(params[:enrolltime]["enrolltime_time(1i)"].to_i, params[:enrolltime]["enrolltime_time(2i)"].to_i, params[:enrolltime]["enrolltime_time(3i)"].to_i, params[:enrolltime]["enrolltime_time(4i)"].to_i, params[:enrolltime]["enrolltime_time(5i)"].to_i).strftime("%m월 %d일 %H시 %M분") %>
<br>
<% if !@existingcheck %>
	해당시간대는 존재하므로 위 리스트로 접속.
<% else %>

	<%= form_for(@taxicourse, url: {action: "createcourse"}) do |f| %>
	  <% if @taxicourse.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@taxicourse.errors.count, "error") %> prohibited this taxicourse from being saved:</h2>

	      <ul>
	      <% @taxicourse.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>


	    <%= f.hidden_field :startpoint, value: params[:startingpoint] %>
	    <%= f.hidden_field :endpoint, value: params[:endingpoint] %>
	    <%= f.hidden_field :enrolltime, value: @senttime %>

	    <%#= f.number_field :genderonly %>


	  <div class="actions">
	    <%= f.submit '코스 만들기',class: "btn btn-primary" %>
	  </div>
	<% end %>

<% end %>
