<%= form_tag({controller: "course", action: "memberlist"}, method: "get", class: "") do %>

	<input type="hidden" name="startingpoint" value="<%= params[:startingpoint]%>" >
	<input type="hidden" name="endingpoint" value="<%= params[:endingpoint]%>" >

	시간대를 고르세요(시간:분)

	<br>
<div class="form-group">
	<%= time_select 'enrolltime', 'enrolltime_time', {minute_step: 15, :default => {:hour => (Time.now ).hour, :minute => '00'}} , class:"form-control"%>
</div>	<br>

	<br>
	<%= submit_tag '시간선택완료.', :class => 'submit_class_name_here',class: "btn btn-default" %>
<% end %>
