<p id="notice"><%= notice %></p>

<p>
  <strong>Startpoint:</strong>
  <%= @taxicourse.startpoint %>
</p>

<p>
  <strong>Endpoint:</strong>
  <%= @taxicourse.endpoint %>
</p>

<p>
  <strong>Enrolltime:</strong>
  <%= @taxicourse.enrolltime %>
</p>

<p>
  <strong>Genderonly:</strong>
  <%= @taxicourse.genderonly %>
</p>

<p>
  <strong>History:</strong>
  <%= @taxicourse.history %>
</p>

<p>
  <strong>Chatlink:</strong>
  <%= @taxicourse.chatlink %>
</p>

<p>
  <strong>Descript1:</strong>
  <%= @taxicourse.descript1 %>
</p>

<p>
  <strong>Descript2:</strong>
  <%= @taxicourse.descript2 %>
</p>

<p>
  <strong>Randstr:</strong>
  <%= @taxicourse.randstr %>
</p>

<%= link_to 'Edit', edit_taxicourse_path(@taxicourse) %> |
<%= link_to 'Back', taxicourses_path %>
